<?xml version="1.0" encoding="UTF-8"?>
<!--<configuration>-->

<!--    &lt;!&ndash; Send debug messages to System.out &ndash;&gt;-->
<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        &lt;!&ndash; By default, encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder &ndash;&gt;-->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <logger name="org.reflections.Reflections" level="INFO"/>-->

<!--    &lt;!&ndash; By default, the level of the root level is set to DEBUG &ndash;&gt;-->
<!--    <root level="DEBUG">-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--    </root>-->
<!--</configuration>-->

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.reflections.Reflections" level="INFO"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
